{% for flash in app.flashes('error') %}
    <div class="d-none" data-controller="notyf" data-type="error" data-content="{{ flash }}"></div>
{% endfor %}
{% for flash in app.flashes('success') %}
    <div class="d-none" data-controller="notyf" data-type="success" data-content="{{ flash }}"></div>
{% endfor %}
